CREATE TABLE IF NOT EXISTS order_status_log ( id int(11) NOT NULL AUTO_INCREMENT, receipt_id int(11) NOT NULL, old_status int(11) DEFAULT NULL, new_status int(11) NOT NULL, updated_by varchar(255) NOT NULL, update_time datetime NOT NULL, PRIMARY KEY (id), KEY receipt_id (receipt_id), FOREIGN KEY (receipt_id) REFERENCES receipts(id) ON DELETE CASCADE ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci; CREATE INDEX idx_receipt_update_time ON order_status_log (receipt_id, update_time); CREATE INDEX idx_update_time ON order_status_log (update_time);
